body{
	background-color: #ccc;
	box-sizing: border-box;
}
h3{
	text-align: center;
}
p{
	padding: 2%;
}
img{
	text-align: center;
	max-width: 100%;
	width: auto;
	height: auto;
}
#wrapper{
	margin: 0 auto;
	max-width: 980px;
	width: 96%;
	padding: 2%;
	background: #eee;
	border-radius: 10px;

}
header{
	padding: 2%;
	text-align: center;

}
nav {
	background: #fff;
	padding: 0;
	margin: 0 0;
	border-radius: 10px;
}
nav ul{
	list-style: none;
	margin-left: 7%;
	padding: 0;
}
nav li a {
	color: #000;
	display: block;
	float: left;
	padding: 20px;
	text-decoration: none;
}
nav a:hover, nav li.active a{
	background-color: #eee;
	color: orange;

}
.clear{
	clear: both;
}
.left-col{
	background-color: #ccc;
	width: 60%;
	float: left;
	margin-top: 2%;
	border-radius: 10px;
}
.sidebar{
	background-color: #ccc;
	width: 38%;
	float: right;
	margin-top: 2%;
	border-radius: 10px;
}
.vid{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

}
.vid iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
footer{
	background-color: #ccc;
	border-radius: 50px;
}
/*media queries*/
@media screeen and (max-width: 740px){
.left-col{
		width: 100%;
	}
.sidebar{
		width: 100%;
	}
}